$primary-font-color: #fff;
$secondary-font-color: #ccc;
$tertiary-font-color: #999;
$background-color: #1a1a1a; 
$card-background-color: #141414;
$sidebar-background-color: #111111; 
$button-color: #222222; 
$button-hover-color: #414141; 
$button-active-color: #333333; 
$stop-button-color: #444;
$stop-button-hover-color: rgb(168, 0, 0);
$stop-button-active-color: rgb(120, 0, 0);
$active-menu-background: #ddd;
$active-menu-font-color: #000;

$thrust-color: #9966ff;
$rpm-color: #ff6384;
$volt-color: #ffcd56;
$amp-color: #36a2eb;

$menu-icon-size: 1.5rem;
$battery-icon-size: 1.6rem;
$battery-font-size: 1rem;
$battery-indicator-color: #bebebe;

$measurement-icon-size: 3rem;

$slider-height: 1rem;
$slider-width: 100%;
$slider-border-radius: 0.25rem;
$slider-thumb-height: 1.6rem;
$slider-thumb-width: 0.5em;
$slider-thumb-border-radius: 0.25rem;
$slider-bg-color: #222222;
$slider-fill-color: #797979;
$slider-thumb-color: #ffffff;
$slider-thumb-hover-color: rgb(230, 230, 230);